@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/iletisim/Views/Shared/_Layout.cshtml";
}
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-us-wrapper">
                    <div class="content-block">
                        <div class="text-editor">
                            <div class="team">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h1>ÖZGEÇMİŞİM</h1>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-3">
                                                <article class="team-member">
                                                    <figure>
                                                        <img src="~/Content/content/cv.png" alt="" />
                                                        <div class="overlay">
                                                            <div class="inner">
                                                                <ul class="social-icons">
                                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="background"></div>
                                                        </div>
                                                    </figure>
                                                    <div class="info">
                                                        <div class="name">Jasper Odgen</div>
                                                        <div class="position">Web &amp; Design</div>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-sm-6 " style="width: 75%;">
                                                <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-user-add-outline"></i>
                                                                </div>
                                                                <h3>Hakkımda</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                   Ben Halil İrahim POYRAZ. Özel bir yazılım firmasında EBYS (Elektronik                                                                        Belge Yönetim Sistemi) üzerine Ürün Geliştirme ve Proje Uzman Yardımcısı olarak                                                                     çalışmaktayım. Asıl uzmanlığım bilgi ve belge yönetimi (Arşiv) üzerinedir. Tekoloji ve                                                              çağın gerektirdikleri ile birlikte arşiv&belge yönetimi programlar üzerinden                                                                        yönetilebilir ve daha etkin bir şekilde kullanılabilir hale geldi. Bende bu tekolojik                                                               gelişmeleri takip edebilmek ve katkı sağlayabilmek adına  Beykent Üniversitesi                                                                      İşletme Yönetimi Anabilim Dalı/Yönetim Bilişim Sİstemleri (MIS) Bölümünde Master                                                                    yapmayı düşündüm ve eğitimim devam etmektedir. Ayrıca Bahçeşehir Üniversitesi Sürekli                                                               Eğitim Merkezi Wissen Akademie'de Microsoft Yazılım ve Veritabanı Programınıda başarı                                                               ile tamamladım. Lisans eğitimimi Marmara Üniversitesinde Bilgi ve Belge Yönetimi                                                                    Bölümünü bitirdim. Yazılım kousunda freelance olarak da çalışmaktayım. Yaklaşık olarak 2                                                            yıldır aktif olarak çalışmaktayım.
                                                                </p>
                                                            </div>
                                                        </article>
                                                @*<p style="text-align: left;">
                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                               Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                               Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                               Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                               Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                               Dessert marshmallow dragée pudding ice cream cupcake.
                                               Cupcake chocolate lollipop bear claw gummi bears.
                                               Toffee applicake chupa chups sugar plum ice cream dessert jelly beans donut.
                                               Icing chocolate bar lollipop applicake apple pie toffee.
                                               Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                               Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                               Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                               Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                               Dessert marshmallow dragée pudding ice cream cupcake.
                                               Cupcake chocolate lollipop bear claw gummi bears.
                                               Toffee applicake chupa chups sugar plum ice cream dessert jelly beans donut. 
                                               
                                               Cupcake chocolate lollipop bear claw gummi bears.                   
                                                </p>*@
                                            </div>
                                        </div>
                                        <div class="content-block">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-editor">
                                                        <h1>What we do.</h1>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-microphone-outline"></i>
                                                                </div>
                                                                <h3>Ropping soufflé macaroon
                                                                <br />
                                                                    lemon drops macaroon.</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-device-phone"></i>
                                                                </div>
                                                                <h3>Applicake liquorice gummies dragée<br />
                                                                    halvah cake tiramisu tart.</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-globe-outline"></i>
                                                                </div>
                                                                <h3>Danish jelly I love oat cake I love.<br />
                                                                    Topping soufflé macaroon lemon drops macaroon.</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-group-outline"></i>
                                                                </div>
                                                                <h3>Pastry fruitcake biscuit chupa<br />
                                                                    chups lollipop I love lemon drops.</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-device-tablet"></i>
                                                                </div>
                                                                <h3>Cheesecake tiramisu dragée gummies donut cotton<br />
                                                                    candy ice cream I love halvah. </h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                        <article class="entry">
                                                            <header>
                                                                <div class="cleanse-icon">
                                                                    <i class="typcn typcn-message-typing"></i>
                                                                </div>
                                                                <h3>Ropping soufflé macaroon<br />
                                                                    lemon drops macaroon.</h3>
                                                            </header>
                                                            <div class="content">
                                                                <p>
                                                                    Icing chocolate bar lollipop applicake apple pie toffee.
                                                        Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                        Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy.
                                                        Wafer dessert jelly-o. Jelly beans macaroon croissant ice cream cake cookie.
                                                        Macaroon jelly croissant chupa chups applicake pie chupa chups tootsie roll.
                                                        Dessert marshmallow dragée pudding
                                                                </p>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-editor text-center">
                                            <div class="description">
                                                Icing chocolate bar lollipop applicake apple pie toffee.
                                                Jujubes candy canes danish bonbon applicake chocolate bar unerdwear.com cookie.
                                                Sesame snaps carrot cake gummi bears sugar plum jujubes cotton candy. Wafer
                                            </div>
                                            <a href="contact.html" class="btn btn-default btn-alternate">Contact</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
